.adminNav{
    font: white;
    background-color: bisque;
    margin-bottom: 300px;
}
.nav_links{
    display: flex;
    margin-left: 350px;

}
.navbar{
    display: flex;
    margin-left: 100px;

}
.content{
    margin-left: 300px;
    text-align: center;
}

