.selectlogin h1{
    color: rgb(29, 28, 26);
    text-align: center;
    font: italic;
}
.selectlogin img{
    width: 90px;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}
.landingpage{
    height: 350px;
    width: 490px;
    border: 3px solid rgb(33, 43, 13);
    background-color: #cab6b6;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.button{
    display: flex;
    color: white;
    margin-top: 140px;
    font-style: italic;
    border-radius: 10px;
    
}
.btn1{
    margin-left: 50px;
}
.btn2{
    margin-left: 200px;
}



